.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px; /* уменьшил внутренний отступ */
    border-bottom: 1px solid #ccc;
  }
  
  .item span {
    margin-right: 12px; /* уменьшил отступ между элементами */
  }
  
  .delButton {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px; /* уменьшил радиус скругления углов */
    padding: 4px 8px; /* уменьшил внутренний отступ */
    cursor: pointer;
    font-size: 14px; /* уменьшил размер шрифта */
    min-width: 80px; /* задал минимальную ширину */
  }
  
  .delButton:hover {
    background-color: #d32f2f;
  }
  